<section class="login">
  <div class="login-section">
    <div class="login-form">
      <div class="logo-section">
        <p class="text-muted text-center mb-5">
          {{ "EnterYourEmailToReceiveAnEmailWithInstructionsOnHowToResetYourPassword" | localize }}</p>
      </div>
      <form autocomplete="off" loginForm="ngForm" (ngSubmit)="forgot()">
        <div class="form-group">
          <input type="email" id="userName" name="userNameOrEmailAddress" [(ngModel)]="forgotModel.userNameOrEmailAddress "
            [placeholder]="'EmailAddress' | localize" autocomplete="off" required maxlength="255" class="form-control"
            #email="ngModel"
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$"
            [ngClass]="{'is-invalid':email.touched && email.invalid}" />
            <div class="invalid-feedback" *ngIf="email.touched && email.invalid">
              <div *ngIf="email.errors.required">{{ "EmailIsRequired" | localize }}</div>
              <div *ngIf="email.errors.pattern">{{ "PleaseProvideAValidEmailAddress" | localize }}</div>
          </div>
        </div>
        <!-- <div class="form-check pl-0">
            <input type="checkbox" class="form-check-input" id="remember-me" name="remember-me" [(ngModel)]="loginService.rememberMe">
            <label class="form-check-label" for="remember-me">{{ "RememberMe" | localize }}</label>
        </div> -->
        <button type="submit" class="btn btn-block btn-primary mt-5"
          [disabled] = "email.invalid" >{{ "ResetPassword" | localize }}</button>
        <div class="mt-4 text-center"><a [routerLink]="['/account/login']">{{ "BackToLogin" | localize }}</a></div>
      </form>
    </div>
  </div> 
  
</section>